.bg_oplt_suc {
    background-color: #00ff00;
}

.bg_send{
    background-color: #269abc;
}

.bg_cenc{
    background-color: #979797;
}

.bg_phone {
    background-color: palevioletred;
}

.ovrer {
    /*overflow-x: scroll;*/
    padding: 3px;
}

.ovrer table {
    width: 100%;
    /*table-layout: auto;*/
}
.ovrer table td {
    /*width: 20%;*/
}

.main-ord-bl{
    padding: 0 15px !important;
}

tr td {
    white-space: nowrap;
}

/* Sticky 1st column */
.table-responsive>.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
}
@media(min-width:768px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}
/* Sticky 1st column */