<br>
<br>
<br>



<h3>Заявки с сайта</h3><br/>

<div class="container">
    <div class="row">
            <div class="col-lg-4">
                <form id="search-our" action="/admin/order" method="post">
                    <div class=" inp-search input-group">
                        <input type="text" name="search_string" value="" class="form-control" placeholder="Поиск клиента по базе">
                          <span class="input-group-btn">
                            <button form="search-our" class="btn btn-default" type="submit">Найти</button>
                          </span>
                    </div><!-- /input-group -->
                </form>
            </div>

        <div class="col-lg-3">
            <form action="/admin/order" method="post">
                <div class="form-group">

                    <label for="sel2">Статус</label>
                    <select name="sotrin_status" class="form-control" id="sel2" onchange="this.form.submit()">
                        <option <?php if(@$data['items_sort_status'] == 10){echo 'selected';}?> value="10">Сортировка отключена</option>
                        <option <?php if(@$data['items_sort_status'] == 0){echo 'selected';}?> value="0">Новая заявка</option>
                        <option <?php if(@$data['items_sort_status'] == 1){echo 'selected';}?> value="1">Успешная оплата</option>
                        <option <?php if(@$data['items_sort_status'] == 2){echo 'selected';}?> value="2">Отправлен счет</option>
                        <option <?php if(@$data['items_sort_status'] == 3){echo 'selected';}?> value="3">Отмена</option>
                        <option <?php if(@$data['items_sort_status'] == 4){echo 'selected';}?> value="4">Прозвон</option>
                        <option <?php if(@$data['items_sort_status'] == 5){echo 'selected';}?> value="5">Партнерский билет</option>
                        <option <?php if(@$data['items_sort_status'] == 6){echo 'selected';}?> value="6">Билет погашен</option>
                    </select>
                    <input style="display: none;" type="submit" name="sort_sub" value="Отпр">
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            <form action="/admin/order" method="post">
                <div class="form-group">
                    <label for="sel3">Дата</label>
                    <select name="sotrin_date" class="form-control" id="sel3" onchange="this.form.submit()">
                        <option <?php if(@$data['items_sort_date'] == 0){echo 'selected';}?> value="10">Сортировка отключена</option>
                        <option <?php if(@$data['items_sort_date'] == 1){echo 'selected';}?> value="1">По возрастанию</option>
                        <option <?php if(@$data['items_sort_date'] == 2){echo 'selected';}?> value="2">По убыванию</option>
                    </select>

                    <input style="display: none;" type="submit" name="sort_date_sub" value="Отпр">
                </div>
            </form>
        </div>
        <div class="col-lg-2">
            <div class="butt-send-email">
            <span class="input-group-btn ">
                <button form="ticket_checket" class="btn btn-default" name="ticket_checket_click" onclick="return confirmDelete();" type="submit">Отправить билет на E-mail</button>
            </span>
            </div>
        </div>
    </div>

</div>

<div class="table-responsive">
<!--<table id="order-table" class="table table-striped table-bordered" cellspacing="0" width="100%">-->
    <!-- test commit-->
<form id="ticket_checket" action="" method="post">
    <table class="table table-striped table-bordered table-hover fixed-columns" >
    <thead>
    <tr>
        <th>№</th>
        <th>Управление</th>
        <th>Статус</th>
        <th>Дата</th>
        <th>Город</th>
        <th>Билет</th>
        <th>Имя</th>
        <th width="10%">Организация</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Оплаты</th>
        <th>Пакет</th>
        <th>Форма</th>
        <th>Комментарий</th>
        <th>Заметки</th>
        <th>UTM</th>

    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>№</th>
        <th>Управление</th>
        <th>Статус</th>
        <th>Дата</th>
        <th>Город</th>
        <th>Билет</th>
        <th>Имя</th>
        <th>Организация</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Оплаты</th>
        <th>Пакет</th>
        <th>Форма</th>
        <th>Комментарий</th>
        <th>Заметки</th>
        <th>UTM</th>
    </tr>
    </tfoot>
    <tbody>
    <?php foreach($data['item'] as $item) { ?>
    <tr>
        <td width=""><?=$item['id']?></td>
        <td width="" align="center">
            <?php if(empty($item['numb_ticket'])){?>
            <input type="checkbox" name="ticket_check[]" value="<?=$item['id']?>" >
            <?php }else{ ?>
                <p class="pad_chk"></p>
            <?php }?>
            <a class="btn btn-sm btn-primary" style="padding: 5px 20px;" href="/admin/order/edit/<?=$item['id']?>"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            <!--<a href="/admin/order/delete/<?=$item['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning" style="padding: 5px 20px;">Удалить</button></a>-->
        </td>
        <!-- Статус заказ  // Order status -->
        <?php

        if($item['status'] == 0){?>
        <td width="150"><?php echo "Новая заявка";?></td>
        <?php }

        elseif($item['status'] == 1){?>
        <td width="150" class="success"><?php echo "Успешная оплата";?></td>
        <?php }

        elseif($item['status'] == 2){?>
        <td width="150" class="info"><?php echo "Отправлен счет";?></td>
        <?php }

        elseif($item['status'] == 3){?>
        <td width="150" class="warning"><?php echo "Отмена";?></td>
        <?php }

        elseif($item['status'] == 4){?>
        <td width="150" class="danger"><?php echo "Прозвон";?></td>
        <?php }

        elseif($item['status'] == 5){?>
        <td width="150" class="danger"><?php echo "Партнерский билет";?></td>
        <?php }

        elseif($item['status'] == 6){?>
        <td width="150" class="danger"><?php echo "Билет погашен";?></td>
        <?php }

        ?>
        <!-- Статус заказ  // Order status end -->
        <td width="100"><?=$item['date']?></td>
        <td width="150"><?=$item['city']?></td>
        <td width="150"> <?php if(!empty($item['numb_ticket'])){?> <a href="/webroot/uploads/ticket-pdf/<?=$item['numb_ticket']?>.pdf" target="_blank"><?=$item['numb_ticket']?></a>  <?php }?>  </td>
        <td><?=$item['name']?></td>
        <td class="org-name" width="500"><?=$item['org_name']?></td>
        <td><?=$item['phone']?></td>
        <td><?=$item['email']?></td>
        <td><?=$item['price']?></td>
        <td><?=$item['package']?></td>
        <td><?=$item['from_form']?></td>
        <td><?=$item['comment1']?></td>
        <td><?=$item['comment2']?></td>
        <td><?=$item['utm']?></td>
    </tr>
    <?php } ?>
    </tbody>
</table>
</form>
</div>

<!-- pagination -->
<?php if($data['count'] > $data['limit']) { ?>
<nav>
    <ul class="pagination">
        <?php $prev = $data['start'] - $data['limit'];
                            if($prev >= 0){ ?>
        <li>
            <a href="/admin/order/index/start/<?php echo ($data['start'] - $data['limit']); if(isset($data['items_sort_status'])){ echo  '/status_sort/' . $data['items_sort_status'];  } if(isset($data['items_sort_status'])){ echo  '/date_sort/' . $data['items_sort_date'];  } ?>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <?php } ?>
        <?php echo @$data[html]; ?>

        <?php $next = ($data['count'] - $data['start']) - $data['limit'];
                         if($next > 0 ){ ?>
        <li>
            <a href="/admin/order/index/start/<?php echo ($data['start'] + $data['limit']); if(isset($data['items_sort_status'])){ echo  '/status_sort/' . $data['items_sort_status'];  } if(isset($data['items_sort_status'])){ echo  '/date_sort/' . $data['items_sort_date'];  } ?>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <?php } ?>
    </ul>
</nav>
<?php } ?>
<!-- pagination end -->

<script>

    $(document).ready(function() {
        $('#order-table').DataTable();
    } );


</script>






<br/><br/>