<br>
<br>
<br>

<h3>Orders edit</h3><br/>
<form method="post" action="">
    <input type="hidden" name="id" value="<?=$data['order']['id']?>" />

    <div class="form-group">
        <label for="date">Дата</label>
        <input type="text" id="date" name="date" value="<?=htmlspecialchars(@$data['order']['date'])?>" maxlength="25" class="form-control" />
    </div>
    <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" id="name" name="name" value="<?=htmlspecialchars(@$data['order']['name'])?>" maxlength="50" class="form-control" />
    </div>
    <div class="form-group">
        <label for="org_name">Организация</label>
        <input type="text" id="org_name" name="org_name" value="<?=htmlspecialchars(@$data['order']['org_name'])?>" maxlength="255" class="form-control" />
    </div>
    <div class="form-group">
        <label for="city">Город</label>
        <input type="text" id="city" name="city" value="<?=htmlspecialchars(@$data['order']['city'])?>" maxlength="25" class="form-control" />
    </div>
    <div class="form-group">
        <label for="phone">Телефон</label>
        <input type="text" id="phone" name="phone" value="<?=htmlspecialchars(@$data['order']['phone'])?>" maxlength="25" class="form-control"  />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="<?=htmlspecialchars(@$data['order']['email'])?>" class="form-control"  />
    </div>
    <div class="form-group">
        <label for="price">Факт оплаты</label>
        <input type="text" id="price" name="price" value="<?=htmlspecialchars(@$data['order']['price'])?>" class="form-control"  />
    </div>
    <div class="form-group">
        <label for="package">Пакет</label>
        <input type="text" id="package" name="package" value="<?=htmlspecialchars(@$data['order']['package'])?>" class="form-control"  />
    </div>
    <div class="form-group">
        <label for="from_form">Форма</label>
        <input type="text" id="from_form" name="from_form" value="<?=htmlspecialchars(@$data['order']['from_form'])?>" class="form-control"  />
    </div>

    <div class="form-group">
        <label for="comment1">Комментарий</label>
        <textarea class="form-control" rows="5" id="comment1" name="comment1"><?=htmlspecialchars(@$data['order']['comment1'])?></textarea>
    </div>
    <div class="form-group">
        <label for="comment2">Заметки</label>
        <textarea class="form-control" rows="5" id="comment2" name="comment2"><?=htmlspecialchars(@$data['order']['comment2'])?></textarea>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="utm">UTM</label>-->
        <!--<input type="text" id="utm" name="utm" value="" class="form-control"  />-->
    <!--</div>-->

    <div class="form-group">
        <label for="status">Статус</label>
        <select id="status" name="status" class="form-control">
            <option value="<?=htmlspecialchars(@$data['order']['status'])?>"></option>
            <option value="0">Не обработанная</option>
            <option value="1">Успешная оплата</option>
            <option value="2">Отправлен счет</option>
            <option value="3">Отмена</option>
            <option value="4">Прозвон</option>

        </select>
    </div>
    <input type="hidden" name="redirect" value="<?php echo $_SESSION['uri_pag']; ?>">
    <input type="submit" class="btn btn-success" value="Сохранить">

    <a href="<?php echo $_SESSION['uri_pag']; ?>"><input type="button" class="btn btn-warning" value="Отмена"></a>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>

    <script>
        // CKEDITOR.replace( 'content_short' );
        // CKEDITOR.replace( 'gallery_img' );
        // config.height = '500px';
    </script>

</form>


